*{
	box-sizing: border-box;
	margin: 0;
}

body {
  font-family: "Lucida Sans", sans-serif;
  margin: 0;
}

header h1{
	position: relative;
	font-family: 'Gamja Flower', cursive;
	padding-left: 10px;
	color: #ffffff;
	font-size: 3em;
	text-shadow: 3px 1px 5px #00111a;
}

.menu-opcoes{
	display: block;
	font-size: 0.9em;
}

.menu-opcoes a{
	font-weight: bold;
	text-decoration: none;
	color: #ffffff;
	text-shadow: 1px 1px 1px #00111a;
}

.menu-opcoes div{
	padding-left: 20px;
	padding-bottom: 5px;
	text-transform: uppercase;
}

#controle-menu{
	display: none;
}

label[for="controle-menu"]{
	padding-left: 15px;
	background-color: transparent;
	font-size: 2.7em;
	cursor: pointer;
	color: #ffffff;
	text-shadow: 2px 1px #00111a;
}

.top-wrap{
	display: flex; 
	align-items: center;
	padding-bottom: 5px;
}

.c1 .c2 .c3 .c4 .c5{
	width: 100%;

}

.c1{
	background-color: #0088cc;
	height: 200px;
}

.c2 {
	background-color: #33bbff;
	display: flex;
	flex-flow: column;
	justify-content: center;
	align-items: center;
}

.titulo-section{
	margin-top: 10px;
	color: #ffffff;
	text-shadow: 1px 1px 1px #00111a;
}

.c3 {
	background-color: #4dc3ff;
}

.c4 {
	background-color: #66ccff;
}

.c5{
	background-color: #99ddff;
}

.sou{
	background-color: #ffffff;
	margin: 10px;
	height: 100px;
	width: 80%;
	border-radius: 15px;
	box-shadow: 5px 5px #888888;
}

.sou p{
	font-size: 1.2em;
	margin:10px;
}

.sou-desc{
	text-align: right;
	padding-left: 70px;
	padding-right: 10px;
}