*{
	box-sizing: border-box;
	margin: 0;
}

body {
  font-family: "Lucida Sans", sans-serif;
  margin: 0;
}

header h1{
	position: relative;
	font-family: 'Gamja Flower', cursive;
	padding-top: 20px;
	padding-left: 20px;
	color: #ffffff;
	font-size: 3em;
	text-shadow: 3px 1px 5px #00111a;
}

#frete{
	color: #ffffff;
}

#fetch{
	color: #ffffff;
}

.menu-opcoes a{
	text-decoration: none;
	color: #ffffff;
}

.menu-opcoes{

}

.c1 .c2 .c3 .c4 .c5{
	width: 100%;

}
.c1{
	background-color: #0088cc;
	height: 200px;
} 
.c2 {
	background-color: #33bbff;
	display: flex;
	flex-flow: column;
	justify-content: center;
	align-items: center;
}
.c3 {
	background-color: #4dc3ff;
}
.c4 {
	background-color: #66ccff;
}
.c5{
	background-color: #99ddff;
}
.sou{
	background-color: #ffffff;
	margin: 10px;
	height: 100px;
	width: 80px;
	width: 80%;
	border-radius: 15px;
	box-shadow: 5px 5px #888888;
}

.sou p{
	font-size: 1.2em;
	margin:10px;
}

.sou-desc{
	text-align: right;
	padding-left: 70px;
	padding-right: 10px;
}

.menu-opcoes div{
	margin-left: 30px;
	padding-bottom: : 5px;
	text-transform: uppercase;
}

.func{
	text-align: top;
}